 
    <mat-toolbar color="primary">
        <span ><a>User information</a> | <a>About us</a> | <a>Contact</a> </span>

        
        
    <span class="example-spacer"></span>
    <!-- <button  *ngIf="isLoggedInUser" (click)="logout()" style="min-width: fit-content;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">   
      <mat-icon>power_settings_new</mat-icon>Logout</button>
      -->
      <span>{{ currentDate | date:'dd-MMMM-yyyy'}}</span>

  </mat-toolbar>